@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>Book Shop Store</h1>
            <h3><u>Information</u></h3>
            <div class="alert-info"><p>This website contains information about the latest inventory system. It's very work in progress.</p></div>
            <div class="alert-link">You can access a link to the repo via this link: <a href="https://github.com/C-Sweet-Person/FinalProject">Project Link</a></div>
            
        </div>
    </div>


   
</div>