@model List<FinalProject.Models.State>
@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of States</h2>
<div class="row">
    <div class="col-md-6">
        <input id="txtsearch" style="text" class="form-control" onkeyup="search();" placeholder="Search..." /><br />
        <input type="button" class="btn btn-info" value="search" onclick="search();" />
    </div>
</div>
<a href="/State/Upsert/zz">Add State Data</a>

<table class="sortable table table-hover">
    <thead>
        <tr>
            <th onclick="Sortable.Sort(0);">State Code</th>
            <th onclick="Sortable.Sort(1);">State Name</th>
            <th>Edit</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var state in Model)
        {
            <tr>
                <td>@state.StateCode</td>
                <td>@state.StateName</td>
                <td><a href="/State/Upsert/@state.StateCode">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
<script>
    Sortable.baseUrl = "/State/All/";
</script>